


	html, body {

		height:100%;
		background: rgba(58, 69, 89, 0.15);

	}


	[id="backgroundCarousel"].carousel,
	[id="backgroundCarousel"] .item,
	[id="backgroundCarousel"] .active {

		height:100%;

	}


	[id="backgroundCarousel"] .carousel-inner {

		height:100%;

	}


	.my [id="backgroundCarousel"] .carousel-inner .item img {

		width: auto;
		min-height: 100%;
		max-width: 100%;
		height: auto;

	}




	@media (min-width: 200px) {
		[id="backgroundCarousel"] .carousel-inner>.item>img { width: 1672px; height: 1000px; }
	}

	@media (min-width: 1200px) {
		[id="backgroundCarousel"] .carousel-inner>.item>img { width: 2006px; height: 1200px; }
	}