

    html {


        overflow: hidden;

        // 1440

    }

    body {

        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        line-height: 28px;

    }


    [class~="carousel-inner"] img {

        width: 100%;

    }


    .my [class~="carousel"] {

        position: absolute;
        width: 100%;
        z-index: -2;

    }


    [class="bordered"] {

        border: 1px solid rgba(255, 255, 255, 0.3);
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        z-index: -1;

    }


    h1 {

        font-size: 56px;
        color: white;
        font-weight: 300;
        text-align: center;

    }


    [class~="main"] {

        max-width: 1400px;
        margin: 0 auto;
        padding-top: 39px;

    }


    [class~="logo"] {

        float: left;
        display: block;

    }


    [id~="nav"] {

        overflow: hidden;
        margin-bottom: 100px;

    }


    [id~="nav"] a {

        color: rgba(255, 255, 255, 0.6);
        font-size: 15px;
        font-weight: 300;

    }


    [id~="nav"] a:hover {

        text-decoration: none;
        color: white;

    }


    [id~="nav"] [class~="menu"] {

        float: right;
        margin-left: 9px;

    }


    [id="description"] {

        color: rgba(255, 255, 255, 0.69);
        font-weight: 300;
        font-size: 15px;
        text-align: center;
        max-width: 800px;
        margin: 0 auto;

    }


    hr {

        max-width: 84px;
        border-color: rgba(255, 255, 255, 0.55);
        margin: 32px auto 31px;
        display: block;

    }


    [id="try"] {

        text-transform: uppercase;
        padding: 19px 32px;
        display: block;
        font-size: 15px;
        text-align: center;
        color: #d0f1f5;
        font-weight: 300;
        width: 297px;
        margin: 41px auto 0;
        border-radius: 3px;

        -webkit-box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.2);

        background: #2a7bb7;
        background: -moz-linear-gradient(top,  #2a7bb7 0%, #2372b1 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a7bb7), color-stop(100%,#2372b1));
        background: -webkit-linear-gradient(top,  #2a7bb7 0%,#2372b1 100%);
        background: -o-linear-gradient(top,  #2a7bb7 0%,#2372b1 100%);
        background: -ms-linear-gradient(top,  #2a7bb7 0%,#2372b1 100%);
        background: linear-gradient(to bottom,  #2a7bb7 0%,#2372b1 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a7bb7', endColorstr='#2372b1',GradientType=0 );

    }


    [id="try"]:hover {

        text-decoration: none;
        color: #d0f1f5;

        background: #2a7bb7;
        background: -moz-linear-gradient(top,  #2a7bb7 0%, #226eab 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a7bb7), color-stop(100%,#226eab));
        background: -webkit-linear-gradient(top,  #2a7bb7 0%,#226eab 100%);
        background: -o-linear-gradient(top,  #2a7bb7 0%,#226eab 100%);
        background: -ms-linear-gradient(top,  #2a7bb7 0%,#226eab 100%);
        background: linear-gradient(to bottom,  #2a7bb7 0%,#226eab 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a7bb7', endColorstr='#226eab',GradientType=0 );

    }


    strong[class="partners"] {

        color: white;
        display: block;
        text-align: center;
        margin-top: 250px;
        font-weight: 300;
        font-size: 14px;
        opacity: 0.5;

    }


    img[class="partners"] {

        margin: 21px auto 0;
        display: block;

    }


	[id="themap"] img {

		overflow: hidden;
		float: left;
		display: block;
		max-width: 420px;
		margin-right: 34px;

	}


	[id="themap"] img:hover {

		opacity: 0.7;

	}


	.my [id="contactDialog"] .modal-dialog {

		width: 900px;

	}

	.my [id="contactDialog"] .modal-content {

		overflow: hidden;

	}


	[id="contactDialog"] strong {

		color: #0b6099;
		margin-top: 29px;
		display: block;
		font-size: 14px;
		margin-bottom: -5px;

	}


	[id="contactDialog"] h2 {

		color: #0b6099;
		margin-top: 46px;
		margin-bottom: 34px;

	}


	.modal-backdrop.in {

		opacity: 0.8;
		background-color: #040f16;

	}


	[id="contactDialog"] p {

		font-size: 13px;
		line-height: 26px;
		color: #2c2c2c;
		opacity: 0.6;
		max-width: 404px;
		float: left;
		margin-bottom: 34px;

	}


	[id="contactDialog"] [class="box"] {

		float: left;
		width: 46%;
		font-size: 14px;

	}


	[id="contactDialog"] [id="rightbox"] {

		overflow: hidden;

	}


	[id="contactDialog"] i {

		display: block;
		overflow: hidden;
		float: left;
		font-size: 14px;
		color: rgba(44, 44, 44, 0.6);
		margin-top: 23px;

	}


	.my [id="partnersCarousel"] {

		width: 422px;

	}


	.my [id="partnersDescr"] {

		width: 422px;
		float: right;
		background: white;
		padding: 41px 36px;

	}


	.my [id="partnersModal"] .modal-dialog {

		width: 846px;
		overflow: hidden;
		height: 424px;

	}


	[id="partnersModal"] h2 {

		color: #0b6099;
		font-weight: 300;

	}


	[id="partnersModal"] input[type="text"] {

		margin: 7px;
		border: 1px solid #7f8589;
		font-size: 14px;
		padding: 8px 16px;
		width: 94%;

	}


	[id="partnersModal"] label {

		color: #2c2c2c;
		font-size: 13px;
		font-style: italic;
		display: inline-block;
		opacity: 0.6;
		font-weight: 400;
		max-width: 231px;
		line-height: 15px;
		margin-top: 40px;

	}


	[id="partnersModal"] button {

		border: 2px solid #2677b4;
		background: transparent;
		color: #2677b4;
		font-weight: 300;
		font-size: 13px;
		padding: 12px 28px;

	}



























